.footer {
    border-top: 1px solid #eaeaea;

    &__container {
        @extend .layout-660;
        text-align: center;
        padding: 20px 0;
    }

    &__copyright {
        @include font-normal(#000, $font-13);
        margin-top: 10px;
    }

    &__info {
        @include font-normal(#000, $font-13);

        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    &__main-logo {
        width: auto;
        height: auto;
        max-width: 90px;
    }
}